<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>{%block title %}My Expense Tracker {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        {% if 'user_id' in session %}
            <a href="{{ url_for('add') }}" class="{% if request.path == '/add' %}active{% endif %}">Add Expense</a>
            <a href="{{ url_for('view') }}" class="{% if request.path == '/view' %}active{% endif %}">View Expenses</a>
            <a href="{{ url_for('dashboard') }}" class="{% if request.path == '/dashboard' %}active{% endif %}">Dashboard</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% endif %}
    </nav>
    
    <hr>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</body>
</html>